@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Nunito&family=Poppins&display=swap');
* {
  box-sizing: border-box;
  /* font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */
  /* overflow-x: hidden; */
}
body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
li {
  list-style: none;
}

.navbar-main {
  padding: 20px !important;
  margin: 0px !important;
}
.login-but1 {
}
.name {
  font-weight: bolder;
  font-size: larger;
}
.logo > img {
  height: 30px;
}

.head-sec-one {
  background: linear-gradient(to top, #92b4f3, #f0f8ff);
  min-height: 100vh;
 
}
.hero-text1,
.hero-text2 {
  font-size: 60px;
  font-weight: 800;
  font-family: Montserrat, sans-serif;;
}
.hero-img > img {
  max-width: 100%;
  height: auto;
}
.hero-text2 {
  color: #ee6c4d;
}
.hero-text3 {
  font-size: 20px;
}
.section-com-desc {
  background: rgb(255, 255, 255);
}
.com-desc-header {
  font-size: 40px;
  font-weight: 800;
  font-family: Poppins, sans-serif;
}
.com-desc-card > img {
  padding: 10px;
  /* background: linear-gradient(to right, #ede574, #e1f5c4); */
}
.section-com-desc {
  position: top;
  background-repeat: no-repeat;
  background-color: #fff;
}
.section-comm-owner {
  /* background:; */
}

body {
  background-color: #eee;
}

.card {
  border: none;
  border-radius: 10px;
}

.c-details span {
  font-weight: 300;
  font-size: 13px;
}

.icon {
  width: 50px;
  height: 50px;
  background-color: #eee;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 39px;
}

.badge span {
  background-color: #fffbec;
  width: 60px;
  height: 25px;
  padding-bottom: 3px;
  border-radius: 5px;
  display: flex;
  color: #fed85d;
  justify-content: center;
  align-items: center;
}

.progress {
  height: 10px;
  border-radius: 10px;
}

.progress div {
  background-color: red;
}

.text1 {
  font-size: 14px;
  font-weight: 600;
}

.text2 {
  color: #a5aec0;
}

.section-testimonial
{
  background-color: #1d3033;
}
.testimonial {
  padding-top: 70px;
  margin: 50px 15px 0;
  border: 1px solid #fff;
  text-align: center;
  position: relative;
  transition: all 0.7s ease 0s;
  font-family: Poppins, sans-serif;
}
.testimonial:hover {
  border-color: #e7e3e3;
}
.testimonial .pic {
  width: 95px;
  height: 95px;
  border-radius: 50%;
  background: #fff;
  padding: 7px;
  position: absolute;
  top: -50px;
  left: 50%;
  overflow: hidden;
  transform: translateX(-50%);
  transition: all 0.7s ease 0s;
}
.testimonial:hover .pic {
  background: #1d3033;
}
.testimonial .pic img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}
.testimonial .title {
  font-size: 16px;
  font-weight: 700;
  color: #eabd44;
  text-transform: uppercase;
  margin: 0 0 10px 0;
}
.testimonial .description {
  font-size: 15px;
  color: #999;
  line-height: 25px;
  border-bottom: 1px solid #f7f7f7;
  padding: 0 25px 35px;
  margin: 0;
}
.testimonial .testimonial-content {
  padding: 15px 25px 12px;
  border: 1px solid #f7f7f7;
  border-top: none;
  position: relative;
  text-align: left;
  transition: all 500ms ease 0s;
}
.testimonial:hover .testimonial-content {
  border-color: #1d3033;
}
.testimonial .testimonial-content:after {
  content: "";
  width: 100%;
  height: 0;
  background: #1d3033;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  transition: all 0.7s ease 0s;
}
.testimonial:hover .testimonial-content:after {
  height: 100%;
}
.testimonial-content .testimonial-profile {
  display: inline-block;
}
.testimonial .name {
  font-size: 16px;
  font-weight: 700;
  color: #3d3d3d;
  text-transform: uppercase;
  margin: 0 0 3px;
  transition: all 700ms ease 0s;
}
.testimonial:hover .name {
  color: #fff;
}
.testimonial .post {
  font-size: 14px;
  color: #eabd44;
  text-transform: capitalize;
}
.testimonial .rating {
  display: inline-block;
  padding: 1px 5px;
  margin: 0;
  list-style: none;
  background: #eabd44;
  position: absolute;
  right: 25px;
}
.testimonial .rating li {
  display: inline-block;
  font-size: 14px;
  color: #fff;
}
.owl-theme .owl-controls {
  width: 100%;
  position: absolute;
  top: 50%;
}
.owl-theme .owl-controls .owl-buttons div {
  width: 45px;
  height: 40px;
  line-height: 37px;
  border-radius: 3px;
  background: #fff;
  border: 1px solid #ececec;
  padding: 0;
  opacity: 1;
  transition: all 0.4s ease-in-out 0s;
}
.owl-theme .owl-controls .owl-buttons div:hover {
  background: #eabd44;
  border-color: #eabd44;
}
.owl-prev,
.owl-next {
  position: absolute;
  left: -3%;
}
.owl-next {
  left: auto;
  right: -3%;
}
.owl-prev::before,
.owl-next::before {
  content: "\f104";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 25px;
  color: #ececec;
}
.owl-next:before {
  content: "\f105";
}
@media only screen and (max-width: 990px) {
  .owl-theme .owl-controls,
  .owl-prev,
  .owl-next {
    position: relative;
    left: 0;
    right: 0;
  }
}
@media only screen and (max-width: 768px) {
  .testimonial .testimonial-content {
    padding: 15px 10px 12px;
  }
  .testimonial .rating {
    right: 12px;
  }
}

/* faq */
.faq-section {
  background: #fdfdfd;
  min-height: 100vh;
  padding: 10vh 0 0;
}
.faq-title h2 {
  position: relative;
  margin-bottom: 45px;
  display: inline-block;
  font-weight: 600;
  line-height: 1;
}
.faq-title h2::before {
  content: "";
  position: absolute;
  left: 50%;
  width: 60px;
  height: 2px;
  background: #e91e63;
  bottom: -25px;
  margin-left: -30px;
}
.faq-title p {
  padding: 0 190px;
  margin-bottom: 10px;
}

.faq {
  background: #ffffff;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
  border-radius: 4px;
}

.faq .card {
  border: none;
  background: none;
  border-bottom: 1px dashed #cee1f8;
}

.faq .card .card-header {
  padding: 0px;
  border: none;
  background: none;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.faq .card .card-header:hover {
  background: rgba(233, 30, 99, 0.1);
  padding-left: 10px;
}
.faq .card .card-header .faq-title {
  width: 100%;
  text-align: left;
  padding: 0px;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 1px;
  color: #3b566e;
  text-decoration: none !important;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  padding-top: 20px;
  padding-bottom: 20px;
}

.faq .card .card-header .faq-title .badge {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 14px;
  float: left;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  text-align: center;
  background: #e91e63;
  color: #fff;
  font-size: 12px;
  margin-right: 20px;
}

.faq .card .card-body {
  padding: 30px;
  padding-left: 35px;
  padding-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  color: #6f8ba4;
  line-height: 28px;
  letter-spacing: 1px;
  border-top: 1px solid #f3f8ff;
}

.faq .card .card-body p {
  margin-bottom: 14px;
}

@media (max-width: 991px) {
  .faq {
    margin-bottom: 30px;
  }
  .faq .card .card-header .faq-title {
    line-height: 26px;
    margin-top: 10px;
  }
}
